<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">___________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">___________________________________________________________________________</p>
    <center>
    <router-link to="/anggota">
    <button type="button" class="btn btn-md btn-primary" style="position:relative; bottom:10px; right:390px;">back</button>
    </router-link>
    <h2>Tambah Data Anggota</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightgrey;" >
      <tr>
        <td><label>NIK </label></td>
        <td><input type="text" v-model="anggota.nik"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Nama </label></td>
        <td><input type="text"  v-model="anggota.nama" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Jenis Kelamin</label></td>
        <td><select v-model="anggota.jk" class="form-control">
          <option value="">Pilih Jenis Kelamin</option>
          <option value="L">Laki - laki</option>
          <option value="P">Perempuan</option>
        </select></td>
      </tr>
      <tr>
        <td><label>Tempat,Tanggal,Lahir </label></td>
        <td><input type="text" v-model="anggota.ttl" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Alamat </label></td>
        <td><textarea v-model="anggota.alamat" class="form-control" required></textarea></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center>
    <p style="color:grey; font-size:20px;">___________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">___________________________________________________________________________</p>
    <p class="top-right"><b><i>@copyright.alfinh 2019</i></b></p>
  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'AnggotaForm',
  data () {
    return {
      anggota: {
        id: null,
        nik: '',
        nama: '',
        jk: '',
        ttl: '',
        alamat: ''
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost:8080/TugasTerakhirPwd/public/anggota/'
      api.get(url + id).then(res => {
        this.anggota = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.anggota
      let url = 'http://localhost:8080/TugasTerakhirPwd/public/anggota'

      if (this.anggota.id) {
        url += '/' + this.anggota.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/anggota')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
