<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">___________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">___________________________________________________________________________</p>
    <center>
    <h1>Data Anggota</h1>
    <router-link to="/">
    <button type="button" class="btn btn-sm " style="background:lightgrey; position:relative; bottom:10px; right:350px;">back</button>
    </router-link>
    <router-link to="/anggota/create">
    <button type="button" class="btn btn-sm btn-primary " style="position:relative; bottom:10px; right:350px;">tambah</button>
    </router-link>
    <table class="table table-hover table-striped" style="width:830px;" >
      <tr>
        <th>No</th>
        <th>NIK</th>
        <th>Nama</th>
        <th>Jenis Kelamin</th>
        <th>Tempat,Tanggal,Lahir</th>
        <th>Alamat</th>
        <th>Aksi</th>
      </tr>
      <tr v-for="(anggota, i) in data_anggota" :key="i">
          <td>{{ i + 1 }}</td>
          <td>{{ anggota.nik }}</td>
          <td>{{ anggota.nama }}</td>
          <td>{{ anggota.jk }}</td>
          <td>{{ anggota.ttl }}</td>
          <td>{{ anggota.alamat }}</td>
          <td>
            <router-link :to="'/anggota/' + anggota.id"><button type="button" class="btn btn-sm btn-primary">edit</button></router-link>
            <button @click="deleteRow(anggota.id)" class="btn btn-sm btn-danger">delete</button>
          </td>
        </tr>
    </table>
    </center>
    <p style="color:grey; font-size:20px;">___________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">___________________________________________________________________________</p>
    <p class="top-right"><b><i>@copyright.alfinh 2019</i></b></p>
  </div>
</template>

<script>
import { api } from '@/helper/api'

export default {
  name: 'Anggota',
  data () {
    return {
      data_anggota: []
    }
  },
  mounted () {
    this.get()
  },
  methods: {
    get () {
      let url = 'http://localhost:8080/TugasTerakhirPwd/public/'
      let url2 = 'anggota'
      api.get(url + url2).then(res => {
        if (res.data.status === 'success') {
          this.data_anggota = res.data.result
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    },
    deleteRow (id) {
      let url = 'http://localhost:8080/TugasTerakhirPwd/public/anggota/'
      api.delete(url + id).then(res => {
        if (res.data.status === 'success') {
          this.get()
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
