<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">___________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">___________________________________________________________________________</p>
    <center>
    <router-link to="/buku">
    <button type="button" class="btn btn-md btn-primary" style="position:relative; bottom:10px; right:390px;">back</button>
    </router-link>
    <h2>Tambah Data Buku</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightgrey;" >
      <tr>
        <td><label>Judul </label></td>
        <td><input type="text" v-model="buku.judul"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Pengarang </label></td>
        <td><input type="text"  v-model="buku.pengarang" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Penerbit </label></td>
        <td><input type="text" v-model="buku.penerbit" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Tahun </label></td>
        <td><input type="text" v-model="buku.tahun" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Jumlah </label></td>
        <td><input type="number" v-model="buku.jumlah" class="form-control" required></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center>
    <p style="color:grey; font-size:20px;">___________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">___________________________________________________________________________</p>
    <p class="top-right"><b><i>@copyright.alfinh 2019</i></b></p>
  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'BukuForm',
  data () {
    return {
      buku: {
        id: null,
        judul: '',
        pengarang: '',
        penerbit: '',
        tahun: '',
        jumlah: ''
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost:8080/TugasTerakhirPwd/public/buku/'
      api.get(url + id).then(res => {
        this.buku = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.buku
      let url = 'http://localhost:8080/TugasTerakhirPwd/public/buku'

      if (this.buku.id) {
        url += '/' + this.buku.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/buku')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
