<template>
  <div class="hello" style="position:relative; bottom:60px">
  <p style="color:grey; font-size:20px;">___________________________________________________________________________</p>
  <p style="color:grey; font-size:20px; position:relative; bottom:20px;">___________________________________________________________________________</p>
  <center>
  <table>
    <tr>
      <td><router-link to="/anggota"><img src="../assets/anggota.png" style="position:relative; right:30px; bottom:10px;"><h2>Data Anggota</h2></router-link></td>
      <td><router-link to="/buku"><img src="../assets/book.png" style="position:relative; bottom:10px;"><h2 style="position:relative; left:49px;">Data Buku</h2></router-link></td>
      <td><router-link to="/petugas"><img src="../assets/petugas.png" style="position:relative; left:30px; bottom:10px;"><h2 style="position:relative; left:55px;"> Data Petugas</h2></router-link></td>
    </tr>
  </table>
  </center>
  <p style="color:grey; font-size:20px;">___________________________________________________________________________</p>
  <p style="color:grey; font-size:20px; position:relative; bottom:20px;">___________________________________________________________________________</p>
  <p class="top-right"><b><i>@copyright.alfinh 2019</i></b></p>
  </div>
</template>
