<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">___________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">___________________________________________________________________________</p>
    <center>
    <router-link to="/petugas">
    <button type="button" class="btn btn-md btn-primary" style="position:relative; bottom:10px; right:390px;">back</button>
    </router-link>
    <h2>Tambah Data Petugas</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightgrey;" >
      <tr>
        <td><label>NIP </label></td>
        <td><input type="text" v-model="petugas.nip"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Nama Petugas </label></td>
        <td><input type="text"  v-model="petugas.nama_petugas" class="form-control" required></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center>
    <p style="color:grey; font-size:20px;">___________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">___________________________________________________________________________</p>
    <p class="top-right"><b><i>@copyright.alfinh 2019</i></b></p>
  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'PetugasForm',
  data () {
    return {
      petugas: {
        id: null,
        nip: '',
        nama_petugas: ''
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost:8080/TugasTerakhirPwd/public/petugas/'
      api.get(url + id).then(res => {
        this.petugas = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.petugas
      let url = 'http://localhost:8080/TugasTerakhirPwd/public/petugas'

      if (this.petugas.id) {
        url += '/' + this.petugas.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/petugas')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
